* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.profile-notifications-container {
  margin-right: 10px;
}

.profile-notifications-container .profile-pic,
.notifications-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}

.notifications-container svg {
  width: 35%;
  height: 35%;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid white;
}

.green {
  background-color: green;
  bottom: 5px;
  right: 5px;
  z-index: 999;
}

.purple {
  background-color: purple;
  top: 0;
  right: 0;
}

/* main */

main {
  background-color: #7550fe;
  min-height: 20%;
}

.main-info {
  min-width: 40%;
  height: 80%;
}

.main-info h2 {
  color: white;
}

.main-info h3 {
  color: #bca8ff;
}

main img {
  height: 80%;
}

.main-buttons a {
  font-weight: bold;
}

.btn-success {
  background-color: #1acb98;
}

.info-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.circle-info-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffeeda;
}

.circle-info-container svg {
  width: 35%;
}

.coures-info-text {
  margin-left: 10px;
}

.coures-info-text h6 {
  font-size: 12px;
}

.coures-info-text p {
  font-size: 10px;
}

.margin {
  margin: 0 10vw;
}

/* recommended */

.cont {
  margin: 50px 0;
}

.recommended h3 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-weight: normal;
}

.card {
  border-radius: 15px;
  overflow: hidden;
}

.line {
  text-decoration: line-through;
}

/* footer */

footer {
  color: grey;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin: 0 5px;
}

footer ul li a {
  color: grey;
  text-decoration: none;
}
